*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
}

h1, h2{
    color: #333;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

button {
    background-color: #f6be08;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 6px 8px 6px;
    margin-left: 5px;
    border-radius: 10px;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
}

/* Estilo para el botón toggle */
.toggle {
    all: unset; /* Elimina los estilos predeterminados del botón */
    position: fixed; /* Fija el botón en la pantalla */
    left: 10px; /* Ajusta la posición desde la parte izquierda */
    padding: 3px 3px 3px 3px;
    background-color: white; /* Fondo blanco */
    border: 2px solid rgb(163, 160, 160); /* Borde gris */
    border-radius: 10px; /* Bordes redondeados para hacerlo circular */
    z-index: 1000; /* Asegúrate de que esté encima de todos los elementos */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    display: flex; /* Centra el contenido del botón */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 20px; /* Tamaño del ícono */
    color: black; /* Color del texto */

}

.toggle:hover {
    background-color: lightgray; /* Cambia el fondo al pasar el mouse */
}

.toggle.is-open{
    display: none;
}

.toggle:focus {
    outline: 3px solid #000000; /* Resalta el botón con un borde amarillo */
    outline-offset: 2px; /* Espaciado entre el borde y el botón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Mantén la sombra al enfocarlo */
}

.sidebar {
    background-color: white;
    position: fixed;
    float: left;
    height: 100%;
    border-right: 1px solid lightgray;
    z-index: 1;
    transition: 0.5s;
    width: 0;
    overflow-x: hidden; /*oculta elementos de la sidebar mientras no esté desplegada*/
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    width: 80%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 8px 10px 8px;
    margin-left: 5px;
    display: block;
    border-radius: 10px;
    transition: 0.3s;
    white-space: nowrap;
}

.sidebar ul li a.active {
    background-color: #f6be08;
    color: black;
    
}

.sidebar a:hover{
    background-color: lightgrey;
}

/* Estilo para el botón de cerrar la sidebar */
.closeSidebarButton {
    all: unset; /* Elimina los estilos predeterminados del botón */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: #818181;
    cursor: pointer;
    transition: 0.3s;
}

.closeSidebarButton:hover {
    color: black;
}

.sidebar .closeSidebarButton{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar.is-open { /*hace ver la sidebar cuando está desplegada*/
    width: 250px;
}

main {
    flex: 1;
    margin: 20px;
}

button{
    font-weight: bold;
}
.logo {
    margin-left: 30px;
    height: 65px;
    border-radius: 15px;
}

.logo img {
    border-radius: 15px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(26, 110, 158, 0.8); 
    color: white;
    margin-bottom: 15px;
    position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegúrate de que el popup esté por encima de otros elementos */
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td{
    background-color: white;
}

.add{
    align-items: flex-end;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-product, .add-product, .edit-category, .add-category, .add-user, .change-password {
    display: none;
    background-color: white;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%; 
    max-width: 550px;
}

.edit-product.is-open, .add-product.is-open, .edit-category.is-open, .add-category.is-open, .add-user.is-open, .change-password.is-open {
    display: block;
}

.edit-product form, .add-product form, .edit-category form, .add-category form, .add-user form, .change-password form {
    display: flex;
    flex-direction: column;
}

.edit-product label, .add-product label, .edit-category label, .add-category label, .add-user label, .change-password label {
    margin-top: 10px;
    font-weight: bold;
}

.edit-product input,
.edit-product select,
.edit-product button,
.add-product input,
.add-product select,
.add-product button,
.edit-category input,
.edit-category select,
.edit-category button,
.add-category input,
.add-category select,
.add-category button,
.add-user input,
.add-user select,
.add-user button,
.change-password input,
.change-password select,
.change-password button { 
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.edit-product button, .add-product button, .edit-category button, .add-category button, .add-user button, .change-password button {
    margin-top: 20px;
    background-color: #f6be08;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}




.edit-product button:hover, .add-product button:hover, .edit-category button:hover, .add-category button:hover, .add-user button:hover {
    background-color: #f6be08;
}

footer, footer a:visited{
    color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
}